<div class="add-item-form">
  <h2>Add New Item</h2>
  <form #itemForm="ngForm" (ngSubmit)="addItem(itemForm)">
    <div class="form-group">
      <label for="itemName">Item Name:</label>
      <input
        type="text"
        id="itemName"
        name="name"
        ngModel
        required
        #name="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="itemPrice">Item Price:</label>
      <input
        type="number"
        id="itemPrice"
        name="price"
        ngModel
        required
        #price="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="itemQuantity">Item Quantity:</label>
      <input
        type="number"
        id="itemQuantity"
        name="quantity"
        ngModel
        required
        #quantity="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="isImported">Imported Good:</label>
      <input
        type="checkbox"
        id="isImported"
        name="imported"
        ngModel
        #imported="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="itemCategory">Item Category:</label>
      <select
        id="itemCategory"
        name="category"
        ngModel
        required
        #category="ngModel"
      >
        <option value="" disabled>Select an item category</option>
        <option *ngFor="let category of itemCategories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>
    <button type="submit" [disabled]="!itemForm.valid">Add Item</button>
  </form>
</div>
