<div class="receipt-context">
  <h2>Receipt Details</h2>
  <app-add-item></app-add-item>

  <!-- Display items and receipt details -->
  <div class="item-display">
    <button type="submit">Calculate Tax</button>
    <h3>Item Details</h3>
    <ul class="item-info">
      <li *ngFor="let item of taxedItemsList">
        <p><strong>Item Name:</strong> {{ item.name }}</p>
        <p><strong>Item Price:</strong> {{ item.priceWithTax | currency: 'USD' }}</p>
      </li>
    </ul>
    <p><strong>Sales Tax: </strong> {{ salesTaxes | currency: 'EU' }}</p>
    <p><strong>Total Price: </strong> {{ totalPrice | currency: 'EU' }}</p>
  </div>
</div>
